* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: rgb(43, 43, 43);
}

#container {
  height: 100%;
}

header {
  background-color: #553aa6;
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main .form-tasks {
  width: 70%;
  min-height: 200px;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 60px;
  top: -120px;
}

.form-tasks .tasks-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: ;
}

.tasks-header .form-tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tasks-header .form-tasks-header input {
  height: 40px;
  border: none;
  background-color: #c1c1c1;
  /* color: white; */
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
}

.btn-insert-task {
  width: 50px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1f0a40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-insert-task i {
  color: white;
  font-size: 15px;
}

.task-list {
  width: 100%;
  margin-top: 20px;
}

.task-list ul {
  width: 100%;
  list-style: none;
}

.task-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #7659f2;
}

ul li .task-name-check {
  display: flex;
  flex-direction: row;
}

ul li .task-name-check input[type="checkbox"] {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
}

ul li .task-name-check p {
  margin-left: 10px;
}
